@model IEnumerable<EmployeeMVC.Models.ERPUser>
@using EmployeeMVC.Models

@{
    ViewBag.Title = "Login";
    Layout = "";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/HasPaswrd.js"></script>

<div class="container " style="padding-top:1em">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 well">
        <img class="img-responsive" src="~/Images/login.png" style="margin:0 auto" />
        <br />
        <br />
        <table class="table-striped">
            <tbody>
                <tr>
                    <td>User ID</td>
                    <td><input type="text" class="form-control" id="tUserID" placeholder="Enter UserID" /></td>
                </tr>
                <br\>
                    <br\>
                        <tr>
                            <td>Password</td>
                            <td><input type="password" class="form-control" id="tPassword" placeholder="Enter Password" /></td>
                        </tr>
            </tbody>
        </table>
        <br />
        <div>
            <button class="btn" id="btnLogIn">Log In</button>
            <button class="btn" id="btnRegister" data-toggle="modal" data-target="#register">Register</button>
        </div><br />

        <!-- Modal -->
        <div class="modal fade" id="register" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Register Here</h4>
                    </div>
                    <div class="modal-body row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <table class="table-condensed">
                                <tbody>
                                    <tr>
                                        <td>User ID</td>
                                        <td><input type="text" class="form-control" id="UserID" placeholder="Enter User ID" /></td>
                                    </tr>
                                    <tr>
                                        <td>Email ID</td>
                                        <td><input type="email" class="form-control" id="Email" placeholder="Enter Email ID" /></td>
                                    </tr>
                                    <tr>
                                        <td>Password</td>
                                        <td><input type="password" class="form-control" id="Password1" placeholder="Enter Password" /></td>
                                    </tr>
                                    <tr>
                                        <td>Renter Password</td>
                                        <td><input type="password" class="form-control" id="Password2" placeholder="Re-enter Password" /></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Register</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-4">
            @Html.ActionLink("ForgotPassword?", "ResetPW")
        </div>
        @*<div class="panel">
                <div class="panel-body">
                    Hello
                </div>

            </div>*@
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnLogIn').click(function () {
            var Pass = sha256_digest($('#tPassword').val());
            var UserID = $('#tUserID').val();

            $.post("/Login/CheckLogin", { UID: UserID, Pass: Pass },
              function (data, textStatus) {
                  if (data == "Y") {
                      window.location.href = "@Url.Action("Employee", "Employee")";
                  }
                  else {
                      alert("Please check the UserID and Password ");
                  }
              });
            alert(actpass);
        });
    });
</script>